.appCard {
  margin: 20px 0 0;
}

.appLink {
  border: 1px solid #EEE;
  color: #000;
  display: inline-block;
  font-size: 12px;
  max-width: 350px;
  padding: 10px 10px;
  text-decoration: none;
  transition: all 250ms linear;
  &:hover {
    color: #FFF;
  }
}