@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/ApercuMono-Regular.woff2') format('woff2'),
        url('../fonts/ApercuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Black.woff2') format('woff2'),
        url('../fonts/Apercu-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Regular.woff2') format('woff2'),
        url('../fonts/Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/ApercuMono-Medium.woff2') format('woff2'),
        url('../fonts/ApercuMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Medium.woff2') format('woff2'),
        url('../fonts/Apercu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Bold.woff2') format('woff2'),
        url('../fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Italic.woff2') format('woff2'),
        url('../fonts/Apercu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/ApercuMono-Regular.woff2') format('woff2'),
        url('../fonts/ApercuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/ApercuMono-Medium.woff2') format('woff2'),
        url('../fonts/ApercuMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

